
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Static/AboutStyle.css" rel="stylesheet" />
<div class="container">
    <div class="jumbotron-fluid text-center">
        <h1 class="display-4">Our Mission</h1>
        <h5>Freeing the people of the internet from the echo chamber</h5>
        <h1 class="display-4">-About-</h1>
        <p>
            In our current global political and social climate, people try to box themselves in as much
            as possible, to isolate themselves from any opinion that is different from theirs. This mostly comes
            from a fear of being hurt or even of being wrong, even knowing that there are people out there
            that might disagree with you can cause this sort of fear. This discussions platform strips away your
            ability to hide those opinions away by putting them front and center as the highest posts on the frontpage
            will always be the most controversial.
        </p>
        <br />
        <p>
            This is a place to say what you have always had in your mind, but feared the fallout from saying it, and
            we encourage you to keep the discussion going, the more hotly contested and debated topics the better.
        </p>
        <br />
        <p>
            This doesn't have to be about politics, it can be about whatever you like, as long as there are people
            that will disagree with you about it.
        </p>
    </div>
</div>

