
@{
    ViewBag.Title = "AccountAlreadyHasName";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col justify-content-center"><h1>The account already has a name</h1></div>
</div>

